#taskGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 20px; /* Adjust the number of columns based on your needs, the last one is for the delete button */
    gap: 10px;
}

.task-row {
    display: contents; /* This makes each child of the row a grid item */
}

.task-cell {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.delete-btn {
    width: 20px;
    height: 20px;
    align-self: center; /* Center the button vertically within the cell */
    justify-self: center; /* Center the button horizontally within the cell */
    border: 1px solid black; /* To visually denote it as a button */
    cursor: pointer;
}

#userAccount {
    padding: 10px;
    background-color: #ffffff;
    border: 0px solid #ddd;
    margin-top: 10px;
}

#loginInfo p {
    font-size: 1.2em;
    color: #333;
}

#loginForm {
    /* Style my login form here */
}